{{>partials/header}}

<h1>Lista de Usuários</h1>


<table style="width: 100%" border="1">
    <thead>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Idade</th>
        <th>Ações</th>
    </thead>
    <tbody>
        {{#users}}
            <tr>
                <td>{{ name.first }} {{ name.last }}</td>
                <td>{{ email }}</td>
                <td>{{ age }}</td>
                <td>
                    <a href="/deletar-usuario?id={{ id }}">Deletar</a>
                    <a href="/aumentar-idade?id={{ id }}">Aumentar Idade</a>
                    <a href="/diminuir-idade?id={{ id }}">Diminuir Idade</a>
                </td>
            </tr>
        {{/users}}

        {{^users}}
        <tr>
            Nao tem saporra
        </tr>
        {{/users}}
    </tbody>
</table>

{{>partials/footer}}